<body>
	<h1>Ordered List Arrow Cards</h1>
	<ol class="olcards">
		<li style="Color:#fc374e">
			<div class="content bg-primary text-white">
				<div (click)="fun1()" class="title">Lorem Ipsum</div>
				<div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, voluptatem.</div>
			</div>
		</li>
		<li style="Color:#36aeb3">
			<div class="content bg-danger text-white">
				<div class="title">Lorem Ipsum</div>
				<div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, voluptatem.</div>
			</div>
		</li>
		<li style="Color:#162d59">
			<div class="content bg-secondary text-white">
				<div class="title">Lorem Ipsum</div>
				<div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, voluptatem.</div>
			</div>
		</li>
	</ol>
</body>